* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: #000000;
	/* cursor: none !important; */
}
body,
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
body::-webkit-scrollbar {
	width: 0;
}

.cursor {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: white;
	position: fixed;
	pointer-events: none;
	z-index: 99999;
	mix-blend-mode: difference;
}
.cursor-scale {
	transform: scale(3);
}
::selection {
	background: #000000; /* background color for the selected text */
	color: white; /* text color for the selected text */
}
::-moz-selection {
	background: #000000;
	color: white;
}
::-webkit-selection {
	background: #000000;
	color: white;
}
.lenis.lenis-smooth {
	scroll-behavior: auto;
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

@media screen and (max-width: 999px) {
	.cursor {
		display: none;
	}
}
