@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
.akogare {
	width: 60vw;
	margin: 0 auto;
	padding: 15vh 0 0 0;
}
.akogare h1 {
	position: relative;
	font-size: 2.5vw;
	font-family: "Inter", sans-serif;
	font-weight: 800;
}
.akogare p {
	font-size: 1.4vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	padding: 3.5vh 0 4.5vh 0;
	color: #0000007c;
}
.about-a p {
	font-size: 1.4vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	padding: 3.5vh 0 4.5vh 0;
	color: #0000007c;
}
.about-a {
	border-top: 1px solid #000000;
	padding: 5vh 0 5vh 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about-a p {
	font-size: 1.15vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: #0000007c;
}
.client-a {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.client-a .title-a,
.role-a .title-a,
.date-a .title-a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.client-a .title-a,
.role-a .title-a,
.date-a .title-a h2 {
	font-size: 1.2vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}
.client-a .title-a img,
.role-a .title-a img,
.date-a .title-a img {
	width: 0.7vw;
	margin: 0 0 0 0.5vw;
}
.about-a button {
	padding: 0.75vw 2.5vw;
	border: 1px solid black;
	outline: none;
	font-size: 1vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	transition: 0.25s ease;
	margin-bottom: 5vh;
	cursor: none;
}
.about-a button:hover {
	transform: scale(1.05);
}
.bg-a {
	width: 100%;
	height: 65vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
}
.bg-a img {
	width: 100%;
}
.bg-a video {
	width: 100%;
}
.challenge-a {
	overflow-y: hidden;
	width: 60vw;
	margin: 0 auto;
	padding: 10vh 0 0 0;
}
.challenge-a h2 {
	position: relative;
	font-size: 2vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}
.challenge-a p {
	font-size: 1.4vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	padding: 3.5vh 0 4.5vh 0;
	color: #0000007c;
}
.challenge-a img {
	opacity: 0;
	padding: 5vh 0;
	width: 100%;
}
.challenge-a video {
	width: 100%;
	margin: 5vh 0 15vh 0;
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
.slide-reveal-container-a,
.slide-reveal-a {
	overflow: hidden;
}

.slide-reveal-a {
	display: inline-block;
}
.akogare h1,
.akogare p,
.client-a .title-a,
.client-a p,
.role-a .title-a,
.role-a p,
.date-a .title-a,
.date-a p,
.about-a button {
	transform: translateY(100%);
}
@keyframes slide-reveal-a {
	to {
		transform: translateY(0);
	}
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
@keyframes fadeInSlideUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	80% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.bg-a video {
	animation: fadeInSlideUp 3s ease forwards;
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
@keyframes slideRevealText {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.challenge-reveal {
	opacity: 0;
	transform: translateY(100%);
	overflow: hidden;
}

.challenge-reveal.in-view {
	animation: slideRevealText 1s forwards;
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
.img-in-view {
	animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 999px) {
	.akogare {
		width: 80vw;
	}
	.akogare h1 {
		font-size: 5vw;
	}

	.akogare p {
		font-size: 3vw;
		padding: 2vh 0 4.5vh 0;
	}
	.about-a p {
		font-size: 3vw;
		padding: 2vh 0 4.5vh 0;
	}
	.about-a {
		border-top: 1px solid #000000;
		padding: 5vh 0 5vh 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
	}
	.about-a h2 {
		font-size: 3.5vw;
	}
	.client-a .title-a,
	.role-a .title-a,
	.date-a .title-a h2 {
		font-size: 3.5vw;
		font-family: "Inter", sans-serif;
		font-weight: 400;
	}
	.client-a .title-a img,
	.role-a .title-a img,
	.date-a .title-a img {
		width: 2vw;
		margin: 0 0 0 2vw;
	}
	.about-a button {
		padding: 1.5vw 7.5vw;
		border: 1px solid black;
		outline: none;
		font-size: 3vw;
		font-family: "Inter", sans-serif;
		font-weight: 500;
		transition: 0.25s ease;
		margin-bottom: 2.5vh;
		cursor: none;
	}
	.bg-a {
		width: 100%;
		height: 30vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.challenge-a {
		width: 80vw;
		padding: 5vh 0 0 0;
	}
	.challenge-a h2 {
		font-size: 3.5vw;
	}
	.challenge-a p {
		font-size: 3vw;
	}
	.challenge-a video {
		width: 100%;
		margin: 0 0 15vh 0;
	}
	.challenge-a img {
		padding: 0 0 10vh 0;
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.akogare {
		padding: 20vh 0 0 0;
	}
	.akogare h1 {
		font-size: 7.5vw;
		margin: 0 0 2vh 0;
	}
	.akogare p {
		font-size: 5vw;
		padding: 2vh 0 4.5vh 0;
	}
	.about-a p {
		font-size: 5vw;
		padding: 2vh 0 4.5vh 0;
	}
	.about-a h2 {
		font-size: 4.5vw;
	}
	.akogare h2 {
		font-size: 4.5vw;
	}
	.client-a .title-a,
	.role-a .title-a,
	.date-a .title-a h2 {
		font-size: 4.5vw;
	}
	.client-a .title-a img,
	.role-a .title-a img,
	.date-a .title-a img {
		width: 2.5vw;
		margin: 0 0 0.25vh 2vw;
	}
	.about-a button {
		padding: 2vw 15vw;
		font-size: 4.5vw;
		margin-bottom: 2.5vh;
	}
	.challenge-a h2 {
		font-size: 7.5vw;
		margin: 0 0 2vh 0;
	}
	.challenge-a p {
		font-size: 5vw;
	}
	.challenge-a img {
		margin: 5vh 0 15vh 0;
		padding: 0;
		width: 100%;
	}
}
