@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	color: #000000;
}
header {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	background: #fefefe;
	width: 95vw;
	margin: 0 auto;
}
header h1 {
	position: relative;
	font-size: 20vw;
	font-family: "Inter", sans-serif;
	font-weight: 800;
	letter-spacing: 0.15vw;
	color: #000000;
}
header h1::after {
	content: "™";
	position: absolute;
	top: 10%;
	right: -1.5%;
	font-family: "Inter", sans-serif;
	font-weight: 800;
	color: #000000;
	font-size: 3.5vw;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.intro {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 95vw;
	margin: -2.5vh auto 0 auto;
}
h2 {
	font-size: 1.5vw;
	font-family: "Inter", sans-serif;
	font-weight: 400;
}
.intro .left {
	width: 42.5%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.intro .right {
	width: 57.5%;
	border-left: 2px solid #000000;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.intro .right .contactt {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.intro .right .contactt img {
	width: 0.75vw;
	margin: 0 0 0 0.5vw;
}
.intro .right .top {
	width: 92.5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.top .time {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top .time img {
	width: 0.7vw;
	transform: rotate(-90deg);
	margin: 0 0.75vw;
}
.intro .right .bottom {
	width: 92.5%;
	margin: 0 auto;
}
.intro .right .bottom h3 {
	padding: 18vh 0 0 0;
	font-size: 3.15vw;
	font-family: "Inter", sans-serif;
	font-weight: 400;
}
.mobile-head {
	width: 95vw;
	margin: 0 auto;
	display: none;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.projects {
	width: 95vw;
	margin: 0 auto;
	padding: 5vh 0 0 0;
}
.projects .title {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.projects .title img {
	width: 0.95vw;
	margin: 0.55vh 0 0 0.5vw;
}
.card-container {
	padding: 10vh 0 10vh 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.card {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20vw;
	height: 65vh;
	background: linear-gradient(to right, black 2px, transparent 2px) 0 0,
		linear-gradient(to right, black 2px, transparent 2px) 0 100%,
		linear-gradient(to left, black 2px, transparent 2px) 100% 0,
		linear-gradient(to left, black 2px, transparent 2px) 100% 100%,
		linear-gradient(to bottom, black 2px, transparent 2px) 0 0,
		linear-gradient(to bottom, black 2px, transparent 2px) 100% 0,
		linear-gradient(to top, black 2px, transparent 2px) 0 100%,
		linear-gradient(to top, black 2px, transparent 2px) 100% 100%;

	background-repeat: no-repeat;
	background-size: 80px 80px;
	margin: 0 4vw;
	transition: 0.75s ease;
}
.card img {
	width: 45%;
}
.card .akogare {
	width: 65%;
}
.card .nakama {
	width: 30%;
}
.card h3 {
	position: absolute;
	bottom: -3.5vh;
	left: 0%;
	font-size: 1vw;
	color: #000000;
	letter-spacing: 0.1vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}
.card:hover {
	width: 85vw;
	cursor: pointer;
	background-size: 100% 100%;
}
.card:hover::after {
	content: "DEVELOPER";
	position: absolute;
	bottom: -3vh;
	right: 0%;
	color: #0000006b;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	font-size: 1vw;
}
.approach {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 95vw;
	margin: 10vh auto 0 auto;
}
.approach .left {
	width: 42.5%;
}
.approach .right {
	width: 57.5%;
	border-left: 2px solid #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.approach .right h3 {
	width: 92.5%;
	margin: 0 auto;
	font-size: 3.15vw;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	padding: 10vh 0 25vh 0;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.capabilities {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 95vw;
	margin: 0 auto;
}
.capabilities .left {
	width: 42.5%;
}
.capabilities .right {
	width: 57.5%;
	border-left: 2px solid #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.capabilities .right h3 {
	width: 92.5%;
	margin: 0 auto;
	font-size: 3.15vw;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	padding: 10vh 0 25vh 0;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.contact {
	border-top: 2px solid #000000;
	padding: 5vh 0 2.5vh 0;
	width: 100vw;
	display: flex;
	flex-direction: column;
}
.contact .top {
	width: 95vw;
	margin: 0 auto;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.contact .top .left {
	display: flex;
	align-items: center;
	justify-content: center;
}
.contact .top .left img {
	width: 1vw;
	margin: 0 0 0 1vw;
}
.contact .top .left h2 {
	font-size: 2vw;
}
.contact .top .right {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
}
.contact .top .right h5 {
	font-family: "Inter", sans-serif;
	font-size: 1.2vw;
}
.contact .mid {
	width: 95vw;
	margin: 0 auto;
	padding: 5vh 0 12.5vh 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.contact .mid h1 {
	font-family: "Inter", sans-serif;
	font-size: 8.5vw;
	font-weight: 800;
	border-bottom: 2px solid #000000;
	cursor: pointer;
}
.contact .bottom {
	width: 95vw;
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.contact .bottom h3 {
	font-family: "Inter", sans-serif;
	font-size: 1vw;
	font-weight: 600;
	cursor: pointer;
}
.contact .bottom h1 {
	font-family: "Inter", sans-serif;
	font-size: 2vw;
	font-weight: 800;
}
.contact .bottom h1::after {
	content: "™";
	position: absolute;
	top: 10%;
	right: -1.5%;
	font-family: "Inter", sans-serif;
	font-weight: 800;
	color: #000000;
	font-size: 0.5vw;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
@media screen and (max-width: 999px) {
	.intro {
		margin: 0 auto;
	}
	.intro .right {
		border-left: 1px solid #000000;
	}
	.intro .right .contactt img {
		width: 1vw;
		margin: 0 0 0 0.5vw;
	}
	.top .time img {
		width: 1vw;
	}
	.intro .right .bottom h3 {
		padding: 10vh 0 0 0;
		font-size: 3.5vw;
	}
	h2 {
		font-size: 2.25vw;
	}
	.projects .title img {
		width: 1vw;
		margin: 0.35vh 0 0 0.5vw;
	}
	.card-container {
		padding: 7.5vh 0 7.5vh 0;
	}
	.card {
		width: 20vw;
		height: 22.5vh;
		background: linear-gradient(to right, black 1.25px, transparent 1.25px)
				0 0,
			linear-gradient(to right, black 1.25px, transparent 1.25px) 0 100%,
			linear-gradient(to left, black 1.25px, transparent 1.25px) 100% 0,
			linear-gradient(to left, black 1.25px, transparent 1.25px) 100% 100%,
			linear-gradient(to bottom, black 1.25px, transparent 1.25px) 0 0,
			linear-gradient(to bottom, black 1.25px, transparent 1.25px) 100% 0,
			linear-gradient(to top, black 1.25px, transparent 1.25px) 0 100%,
			linear-gradient(to top, black 1.25px, transparent 1.25px) 100% 100%;
		background-repeat: no-repeat;
		background-size: 50px 50px;
	}
	.approach .right {
		border-left: 1px solid #000000;
	}
	.approach .right h3 {
		font-size: 3.5vw;
		padding: 7.5vh 0 12.5vh 0;
	}
	.capabilities .right {
		border-left: 1px solid #000000;
	}
	.capabilities .right h3 {
		font-size: 3.5vw;
		padding: 7.5vh 0 12.5vh 0;
	}
	.contact {
		border-top: 1px solid #000000;
		padding: 2.5vh 0 2.5vh 0;
	}
	.contact .top .right h5 {
		font-size: 2vw;
	}
	.contact .mid {
		width: 95vw;
		margin: 0 auto;
		padding: 5vh 0 8.5vh 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.contact .mid h1 {
		font-size: 11vw;
		border-bottom: 1px solid #000000;
	}
	.contact .bottom h1 {
		font-size: 3vw;
		font-weight: 800;
	}
	.contact .bottom h3 {
		font-size: 1.75vw;
	}
}
@media screen and (max-width: 600px) {
	header h1::after {
		font-size: 5vw;
	}
	.intro .left {
		width: 60%;
	}
	.intro .right {
		width: 40%;
		border-left: none;
		align-items: flex-end;
	}
	.intro .right .top {
		align-items: flex-start;
		justify-content: flex-end;
	}
	.intro .right .contactt img {
		width: 3vw;
		margin: 0 0 0 1.5vw;
	}
	h2 {
		font-size: 5vw;
	}
	.top .time {
		display: none;
	}
	.intro .right .bottom {
		width: 87.5vw;
		margin: 0 0 0 5vw;
	}
	.intro .right .bottom h3 {
		padding: 20vh 0 0 0;
		font-size: 7vw;
	}
	.intro .right .bottom h3 {
		display: none;
		padding: 20vh 0 0 0;
		font-size: 7vw;
	}
	.mobile-head {
		width: 90vw;
		margin: 0 auto;
		display: flex;
	}
	.mobile-head h3 {
		margin: 20vh 0 0 0;
		padding: 5vh 0;
		border-top: 1px solid #000000;
		font-size: 7.5vw;
		font-family: "Inter", sans-serif;
		font-weight: 400;
	}
	.projects {
		padding: 10vh 0 0 0;
	}
	.projects .title img {
		width: 3vw;
		margin: 0.35vh 0 0 2vw;
	}
	.card-container {
		padding: 10vh 0 10vh 0;
		flex-direction: column;
	}
	.card {
		margin: 15vw 0;
		width: 80vw;
		height: 33vh;
		background: linear-gradient(to right, black 1.25px, transparent 1.25px)
				0 0,
			linear-gradient(to right, black 1.25px, transparent 1.25px) 0 100%,
			linear-gradient(to left, black 1.25px, transparent 1.25px) 100% 0,
			linear-gradient(to left, black 1.25px, transparent 1.25px) 100% 100%,
			linear-gradient(to bottom, black 1.25px, transparent 1.25px) 0 0,
			linear-gradient(to bottom, black 1.25px, transparent 1.25px) 100% 0,
			linear-gradient(to top, black 1.25px, transparent 1.25px) 0 100%,
			linear-gradient(to top, black 1.25px, transparent 1.25px) 100% 100%;
		background-repeat: no-repeat;
		background-size: 50px 50px;
	}
	.card h3 {
		bottom: -4.5vh;
		font-size: 4vw;
	}
	.approach {
		flex-direction: column;
		width: 90vw;
		margin: 5vh auto 0 auto;
	}
	.approach .right {
		width: 100%;
		border-top: 1px solid #000000;
		border-left: none;
		margin: 2.5vh 0 0 0;
	}
	.approach .right h3 {
		width: 100%;
		font-size: 7.5vw;
		padding: 5vh 0 12.5vh 0;
	}
	.capabilities {
		flex-direction: column;
		width: 90vw;
		margin: 5vh auto 0 auto;
	}
	.capabilities .right {
		width: 100%;
		border-top: 1px solid #000000;
		border-left: none;
		margin: 2.5vh 0 0 0;
	}
	.capabilities .right h3 {
		width: 100%;
		font-size: 7.5vw;
		padding: 5vh 0 12.5vh 0;
	}
	.contact .top {
		width: 90vw;
	}
	.contact .top .left h2 {
		font-size: 5vw;
	}
	.contact .top .left img {
		width: 2.5vw;
		margin: 0 0 0 2vw;
	}
	.contact .top .right {
		padding: 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		flex-direction: column;
	}
	.contact .top .right h5 {
		font-size: 4vw;
	}
	.contact .mid {
		width: 90vw;
		margin: 0 auto;
		padding: 10vh 0 12.5vh 0;
	}
	.contact .bottom h3 {
		font-size: 2.5vw;
	}
	.contact .bottom h1 {
		font-size: 7vw;
		font-weight: 800;
	}
}
