@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
.kongu {
	width: 60vw;
	margin: 0 auto;
	padding: 15vh 0 0 0;
}
.kongu h1 {
	position: relative;
	font-size: 2.5vw;
	font-family: "Inter", sans-serif;
	font-weight: 800;
}
.kongu p {
	font-size: 1.4vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	padding: 3.5vh 0 4.5vh 0;
	color: #0000007c;
}
.kongu .about p {
	font-size: 1.4vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	padding: 3.5vh 0 4.5vh 0;
	color: #0000007c;
}
.kongu .about {
	border-top: 1px solid #000000;
	padding: 5vh 0 5vh 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.kongu .about p {
	font-size: 1.15vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: #0000007c;
}
.kongu .client {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.kongu .client .title,
.kongu .role .title,
.kongu .date .title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.kongu .client .title,
.kongu .role .title,
.kongu .date .title h2 {
	font-size: 1.2vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}
.kongu .client .title img,
.kongu .role .title img,
.kongu .date .title img {
	width: 0.7vw;
	margin: 0 0 0 0.5vw;
}
.kongu .about button {
	padding: 0.75vw 2.5vw;
	border: 1px solid black;
	outline: none;
	font-size: 1vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	transition: 0.25s ease;
	margin-bottom: 5vh;
	cursor: none;
}
.kongu .about button:hover {
	transform: scale(1.05);
}
.kongu .bg {
	width: 100%;
	height: 65vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
}
.kongu .bg video {
	width: 100%;
}
.challenge {
	width: 60vw;
	margin: 0 auto;
	padding: 10vh 0 0 0;
}
.challenge h2 {
	position: relative;
	font-size: 2vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
}
.challenge p {
	margin: 5vh 0 2vh 0;
	font-size: 1.15vw;
	font-family: "Inter", sans-serif;
	font-weight: 500;
	color: #0000007c;
}
.challenge h2::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 25%;
	width: 5vw;
	height: 1px;
	background: #000000;
}
.challenge img {
	padding: 5vh 0;
	width: 100%;
}
.challenge video {
	width: 100%;
	margin: 5vh 0 15vh 0;
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
.slide-reveal-container,
.slide-reveal {
	overflow: hidden;
}

.slide-reveal {
	display: inline-block;
}
.kongu h1,
.kongu p,
.client .title,
.client p,
.role .title,
.role p,
.date .title,
.date p,
.about button {
	transform: translateY(100%);
}
@keyframes slideReveal {
	to {
		transform: translateY(0);
	}
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 999px) {
	.kongu {
		width: 80vw;
	}
	.kongu h1 {
		font-size: 5vw;
	}
	.kongu p {
		font-size: 3vw;
		padding: 2vh 0 4.5vh 0;
	}
	.kongu .about p {
		font-size: 3vw;
		padding: 2vh 0 4.5vh 0;
	}
	.kongu .about {
		border-top: 1px solid #000000;
		padding: 5vh 0 5vh 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
	}
	.kongu .about h2 {
		font-size: 3.5vw;
	}
	.kongu .client .title,
	.kongu .role .title,
	.kongu .date .title h2 {
		font-size: 3.5vw;
		font-family: "Inter", sans-serif;
		font-weight: 400;
	}
	.kongu .client .title img,
	.kongu .role .title img,
	.kongu .date .title img {
		width: 2vw;
		margin: 0 0 0 2vw;
	}
	.kongu .about button {
		padding: 1.5vw 7.5vw;
		border: 1px solid black;
		outline: none;
		font-size: 3vw;
		font-family: "Inter", sans-serif;
		font-weight: 500;
		transition: 0.25s ease;
		margin-bottom: 2.5vh;
		cursor: none;
	}
	.kongu .bg {
		width: 100%;
		height: 30vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.kongu .challenge {
		width: 80vw;
		padding: 5vh 0 0 0;
	}
	.kongu .challenge h2 {
		font-size: 3.5vw;
	}
	.kongu .challenge h2::after {
		content: "";
		left: 32.5%;
		width: 10vw;
	}
	.kongu .challenge video {
		width: 100%;
		margin: 0 0 15vh 0;
	}
	.kongu .challenge img {
		padding: 0 0 10vh 0;
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.kongu {
		padding: 20vh 0 0 0;
	}
	.kongu h1 {
		font-size: 7.5vw;
		margin: 0 0 2vh 0;
	}
	.kongu p {
		font-size: 4.5vw;
		padding: 2vh 0 4.5vh 0;
	}
	.kongu .about p {
		font-size: 4.5vw;
		padding: 2vh 0 4.5vh 0;
	}
	.kongu .about h2 {
		font-size: 4.5vw;
	}
	.kongu h2 {
		font-size: 4.5vw;
	}
	.kongu .client .title,
	.kongu .role .title,
	.kongu .date .title h2 {
		font-size: 4.5vw;
	}
	.kongu .client .title img,
	.kongu .role .title img,
	.kongu .date .title img {
		width: 2.5vw;
		margin: 0 0 0.25vh 2vw;
	}
	.kongu .about button {
		padding: 2vw 15vw;
		font-size: 4.5vw;
		margin-bottom: 2.5vh;
	}
	.kongu .challenge h2 {
		font-size: 4.5vw;
		margin: 0 0 2vh 0;
	}
	.kongu .challenge h2::after {
		content: "";
		left: 41.5%;
		width: 10vw;
	}
}
