@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}
.loader-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	overflow: hidden;
}

.loader-container h2 {
	color: white;
	background: black;
	font-size: 11vw;
	font-family: "Inter", sans-serif;
	font-weight: 800;
}
