.slide-in {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh !important;
	width: 100vw;
	background: #000000;
	transform-origin: bottom;
	z-index: 10000;
}

.slide-out {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh !important;
	width: 100vw;
	background: #000000;
	transform-origin: top;
	z-index: 10000;
}
